# Pertemuan ke dua

## Konversi antar tipe data

### Integer

In [3]:
num = "123456"
print(int(num))

123456

In [2]:
sapa = "Pagi"
print(int(sapa))

ValueError: invalid literal for int() with base 10: 'Pagi'

In [4]:
dec = 10.5
print(int(dec))

10

### Float

In [5]:
integer = 80
print(float(integer))

80.0

### String

In [8]:
angka2 = 6754
print(type(angka2))
str_var = str(angka2)
print(type(str_var))
print(str_var)

<class 'int'>
<class 'str'>
6754

In [9]:
fl = 23.9
print(type(fl))
fl_str = str(fl)
print(type(fl_str))
print(fl_str)

<class 'float'>
<class 'str'>
23.9

## String Formatting dan Argument Specifier

In [33]:
nilai = 100
angk_a = 19
print("Nilainya adalah: %d" % nilai)

TypeError: not enough arguments for format string

In [13]:
from datetime import datetime

In [14]:
date = datetime.now()

In [16]:
print(date)

2021-01-10 08:31:38.804946

In [17]:
print(type(date))

<class 'datetime.datetime'>

In [23]:
print(date.strftime("Hari ini tahun %Y bulan %m tanggal %d"))

Hari ini tahun 2021 bulan 01 tanggal 10

In [25]:
greet = "Selamat Malam"
jam = 10
print("Ucapkanlah {}, lalu tidur pada pukul: {}".format(greet, jam))

Ucapkanlah Selamat Malam, lalu tidur pada pukul: 10

## User Input

In [27]:
submit = input("Masukkan nama: ")
print(submit)
print(type(submit))

alo
<class 'str'>

In [29]:
submit2 = int(input("Masukkan Angka pertama"))
submit3 = int(input("Masukkan angka ke dua"))
tambah = submit2 + submit3
print("Hasil penjumlahannya adalah: {}".format(tambah))

Hasil penjumlahannya adalah: 23

## Pengkondisian

In [30]:
num_first = 40
num_second = 50
if num_first < num_second:
    print("{} lebih kecil dari {}".format(num_first, num_second))

40 lebih kecil dari 50

In [31]:
input_waktu = int(input("Anda datang pukul berapa?: "))
jam_masuk = 7
if input_waktu < jam_masuk:
    print("Anda sangat bersemangat pergi bekerja, mantap!")
elif input_waktu == jam_masuk:
    print("Anda datang tepat waktu!")
else:
    print("Anda telat")

Anda sangat bersemangat pergi bekerja, mantap!

## Looping

### For Loop

In [34]:
list_makanan = ['kebab', 'Isy', 'Burger', 'Nasi Padang']
for i in list_makanan:
    print("Saya suka makan {}".format(i))

Saya suka makan kebab
Saya suka makan Isy
Saya suka makan Burger
Saya suka makan Nasi Padang

In [36]:
for index, food in enumerate(list_makanan):
    print(index + 1,  food)

1 kebab
2 Isy
3 Burger
4 Nasi Padang

In [45]:
import calendar
cal = calendar.HTMLCalendar(calendar.SUNDAY)
month = cal.formatmonth(2021, 1)
print(month)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2021</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td></tr>
<tr><td class="sun">3</td><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td></tr>
<tr><td class="sun">10</td><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td></tr>
<tr><td class="sun">17</td><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td></tr>
<tr><td class="sun">24</td><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td></tr>
<tr><td class="sun">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [41]:
kal = calendar.TextCalendar(calendar.FRIDAY)
for kal in kal.itermonthdays(2021, 1):
    print(kal)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0
0
0

## While

In [47]:
x = 0
star = "*"
while x < 6:
    print(star)
    star += "*"
    x += 1

*
**
***
****
*****
******

## Break

In [49]:
deret = [1,2,3,4,5,6,7,8,9,10]
print(deret)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
for i in range(1,100):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [57]:
input_bil = int(input("Masukkan bilangan yang mau kamu cari: "))
for x in range(1,1000):
    if input_bil == x:
        print("Angka {} ditemukan di dalam deret!".format(input_bil))
        break

Angka 999 ditemukan di dalam deret!

## Pass

In [59]:
def main():
    pass

In [61]:
for num in range(1,10):
    pass