## Pertemuan Kedua

## Konversi antar tipe data

### Integer

In [12]:
number = "123456"
print(int(number))

123456

In [13]:
numberFloat = 5.0
print(int(numberFloat))

5

In [16]:
numberInteger = 10
print(type(numberInteger))
print(float(numberInteger))
print(type(numberInteger))

<class 'int'>
10.0
<class 'int'>

## String format and argument Specifier

In [18]:
name1 = "rizki"
name2 = "lisanah"
print("nama saya {} nama dia {}".format(name1, name2))

nama saya rizki nama dia lisanah

In [19]:
from datetime import date
from datetime import datetime

In [20]:
tanggal = datetime.now()
print(tanggal)

2021-01-10 13:46:23.555311

## User Input

In [21]:
inputan = input("Name : ")
print(inputan)

Rizki

In [23]:
angka1 = int(input("angka pertama : "))
angka2 = int(input("angka kedua : "))
print(angka1 + angka2)

3

## LOOPING

In [35]:
import calendar 

cal = calendar.TextCalendar(calendar.MONDAY)
month = cal.formatmonth(2021, 1, 0, 0)

print(month)

    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31